<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="../../assets/css/styleProfile.css" type="text/css" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Adding the icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

   <!-- Collapsable Navbar -->
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand mb-n4 mr-auto" href="#">
		<img class="rounded-lg" src="../../assets/images/trust_people.png" alt="Logo">
		<p class="d-flex justify-content-end small font-weight-lighter">for individuals</p>
    </a>
    <div class="">
      <ul class="navbar-nav">
        <li class="nav-item align-self-center mx-2">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item align-self-center mx-2">
          <a class="nav-link" href="#">For Enterprise</a>
        </li>
		<li class="nav-item align-self-center mx-2">
			<a class="nav-link" href="profile.html">
				<img src="../../assets/images/steven.jfif">
			</a>
		  </li>   
      </ul>
    </div>  
  </nav>

  <br>
  <!-- Container for search bar and profile icon -->
  <div class="container-fluid ">
       <!-- Search Bar and Profile Icon      -->
	<form class="form-inline d-flex justify-content-center md-form form-sm my-1 ">
		<input class="form-control form-control-sm mr-3 w-75 rounded-lg" type="text" placeholder="Search" aria-label="Search">
		<i class="fa fa-search" aria-hidden="true"></i>
  	</form>
  </div>

  <!-- Vue Information -->
  <div id="app">

   <!-- Some containers with profile information -->
 <div class="container p-3 my-3 ">
    <div class="profile-card" v-for="users in users">
        <div v-for="profile in profile">
        <div class="row">
            <div class="col-2">
                <img src="uploads/steven.jfif">
            </div>
            <div class="col-6 align-self-center text-nowrap">
                <h4>{{ users.name }}</h4>
                <p>{{ profile.bio }}</p>
            </div> 
            <div class="col-4 d-flex justify-content-end">
                <a href="editProfile.html" @click="selectProfile(profile);">Edit your profile</a>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="ml-3 mr-2">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="">
                <h7>{{ users.datejoin }}</h7>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <a href="#" class="btn btn-info" role="button">Follow</a>
            </div>
            <div class="col-1 ">
                <a href="#" class="btn btn-info" role="button">Message</a>
            </div>
            <div class="col-4 d-flex justify-content-center">
            <div class="row">
                <div class="post-tag mr-2">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </div>
                <h6>{{ profile.post_number }} Posts</h6>
            </div>
            </div>

            <div class="followers-tag col-3">
                 <h6>{{ profile.followers}} Followers</h6>
            </div>
            <div class="following-tag col-3">
                <h6>{{ profile.following }} Following</h6> 
            </div>
        </div>
        </div>
    </div>
</div>
 


 
  <!-- Post Card -->
  <!-- Creates multiple posts as long the database has more posts -->
  <div class="container p-3 my-3 " v-for="posts in posts">
  <div class="post-card">
	  <div class="row">
		<div class="col-2 d-flex justify-content-center align-self-center">
			<img src="uploads/steven.jfif" alt="Avatar">
		</div>
		<div class="col-7 align-self-center">
			<div class="row">
				<h5>{{ posts.post_title }}</h5>
			</div>
			<div class="row">
				<h4 class="mr-3 small font-weighter-light text-secondary">{{ posts.post_person }}</h4>
				<div class="date">
					<h4 class="small font-weighter-light text-secondary">{{ posts.post_date }}</h4>
				</div>
			</div>
			<div class="row">
				<p>
					{{ posts.post_content}}
				</p>
			</div>
		</div>
		<div class="col-3">
			<div class="row">
				<button type="button" class="btn btn-outline-light text-dark px-4 mb-2">
					<div class="row">
						<i class="material-icons mr-1 mb-2">sentiment_very_satisfied</i>
						<h6 class="mr-3">{{ posts.post_like }}</h6>
						<h7>Trustworthy</h7>
					</div>
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-outline-light text-dark px-4 mb-2">
					<div class="row">
						<i class="material-icons mr-1 mb-2">sentiment_very_dissatisfied</i>
						<h6 class="mr-3">{{ posts.post_dislike }}</h6>
						<h7>Untrustworthy</h7>
					</div>
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-outline-light text-dark px-4 mb-2">
					<div class="row">
						<i class="material-icons mr-1 mb-2">chat_bubble_outline</i>
						<h6 class="mr-3">{{ posts.post_comment }}</h6>
						<h7>Comment</h7>
					</div>
				</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-outline-light text-dark px-4 mb-2">
					<div class="row">
						<i class="material-icons mr-3 mb-2">share</i>
						<h6>Share</h6>
					</div>
				</button>
			</div>
		</div>
	  </div>


</div>
  </div>
	

  </div>

  <!-- Vue and Javascript Code -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> 
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
  <script  src="../../assets/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body>
</html>

